<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% 'js/script.js' %}"></script>
</head>
<body>
    <h2>INFO FROM SERVER:</h2>
    <p>Name: {{name}}</p>
    <p>Color: {{favorite_color}}</p>
    <p>Pets</p>

    <ul>
    {% for pet in pets %}
        <li>{{pet}}</li>
    {% endfor %}
    </ul>

    <img src="{% static 'img/image.jpg' %}" alt="">
</body>
</html>